html {
    background-color: rgb(255, 255, 255);
}

body {
    color: rgb(67, 67, 67);
    font-family: 'Epilogue';
    /* background-color: red; */
    width: 300px;
    height: 270px;
    background-color: white; 
    box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.623);
    margin: 60px 60px;
    padding: 0px;
}

img {
    height: 60px;
    margin: 0 auto;
}

header {
    padding: 27px 35px 0px 32px;
}

h2 {
    padding: 0px 35px;
    font-size: 15px;
    font-family: 'lato';
    font-weight: 900;
    margin: 4px 0px;
}

p {
    padding: 0px 40px 0px 35px;
    font-size: 10px;
    font-style: light 300;
    line-height: 12px;
}

.get-started {
    margin: 13px 0px;
}

span {
    color: cornflowerblue;
}

div {
    height: 31px;
    width: 110px;
    margin: 18px 35px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(105, 152, 241, 0.76);
    background: linear-gradient( -50deg, #567ae4, #579fe4);
}

h3 {
    font-size: 10px;
    padding: 12px 5px;
    color: rgba(255, 255, 255, 0.685);
    text-align: center;
    vertical-align: middle;
    /* text-shadow: 1px 1px teal; */
}

